{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
</head>

<body class="text-center">

    <form action='login' method="POST" class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        <style>
            h1 {
                color: lightsalmon;
            }

            h4 {
                color: red;
            }
        </style>

        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" name='username' placeholder="Username" required
            autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name='password' placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button><br>
        <p>New User? <a href='register'>Register here!</a></p>
    </form>
</body>

</html>